<header class="row">
    <div class="header-container">
        <div class="headerBannerContainer">
            <div class="headerImageContainer">
                <img class="headerImage" src="../../images/banner-2.png" alt="Banner">
            </div>
            <div class="headerText">S&N</div>
        </div>
        <nav>
            <ul class="nav nav-justified">
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['/']">Home</a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['/rsvp']">RSVP</a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['/registry']">Registry</a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" [routerLink]="['/directions']">Accommodations & Directions</a></li>
            </ul>
        </nav>
    </div>
</header>