<div class="main-content-container">
    <h1>Accommodations</h1>
    <p>We have reserved a block of hotel rooms at the Best Western in Plattsburgh. This hotel is centrally located and within walking distance of restaurants and the mall, however is not within walking distance of the venue.</p>
    <p>The rates for our room block are $119/night for a 2-bed room, and $114/night for a 1-bed room.</p>
    <p>Rooms are available at these rates until August 10th.</p>
    <p>To book rooms in the block, please call the front desk at 518-561-7750, ext. 9, and use the group block name ''Mihuc-Parrott Wedding 8/31-9/2''.</p>

    <h1>Directions</h1>
    <p>Plattsburgh is located close to the Canadian border, directly bordering Vermont on Lake Champlain. It is about 3 hours' drive north of Albany NY, and about 1.5 hours' drive south of Montreal.</p>
    <!--<div class="map-container">
    <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFjXkt1RW1mqsG2K4GzJe8pq72dpbJkzE
    &q=Plattsburgh+NY&zoom=6" allowfullscreen>
    </iframe>
    </div>-->

    <h2>Traveling to Plattsburgh</h2>
    <h3>By car</h3>
    <p>We recommend traveling to Plattsburgh by car if coming from anywhere in the northeast, or by plane from anywhere else. There is no public transit in Plattsburgh.</p>
    <p>If you have extra room in your car for carpooling or are looking for a ride in a carpool, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSfnTK-oceFhPRXK2HeO6yObBN-z0MHjf2izRm5TqrOZTarWRQ/viewform?usp=sf_link" target="_blank">this form</a> by July 15.</p>
    <h3>By plane</h3>
    <p>Plattsburgh has an airport which only receives flights from Boston, Washington DC (Dulles), Myrtle Beach, and several cities in Florida.</p>
    <p>The nearest major airport to Plattsburgh is in Montreal, and this is likely the best airport to fly into when traveling to Plattsburgh. However, after flying into Montreal you will need to drive to Plattsburgh, or travel into downtown Montreal to catch a bus or train.</p>
    <p>It is also possible to fly into Burlington VT, Albany NY, or New York City and then drive to Plattsburgh.</p>
    <h3>By bus</h3>
    <p>There are Greyhound (and Adirondack Trailways) buses which run several times a day between New York City, Albany and Montreal that stop in Plattsburgh. There are also some buses that arrive from other parts of upstate NY and Vermont.</p>
    <p>Please be advised that the bus station in Plattsburgh is on the edge of the city and you will need a taxi or someone to pick you up, and that it is not a real bus station, it's a gas station.</p>
    <h3>By train</h3>
    <p>There is an Amtrak train which runs once per day between New York City, Albany and Montreal that stops in Plattsburgh. This train is very slow compared to a car or bus.</p>
    <p>The train station is located in downtown Plattsburgh, close to our wedding venue but not very close to any hotels.</p>

    <h2>Travel within Plattsburgh</h2>
    <p>Please be aware that there is no public transit in Plattsburgh!</p>
    <p>We strongly advise that you drive or carpool to Plattsburgh or plan to rent a car while visiting.</p>
    <p>If you have extra room in your car for carpooling or are looking for a ride in a carpool, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSfnTK-oceFhPRXK2HeO6yObBN-z0MHjf2izRm5TqrOZTarWRQ/viewform?usp=sf_link" target="_blank">this form</a> by July 15. We are hoping to arrange carpools from Montreal and/or the Montreal airport, from Albany, and possibly from other major cities.</p>
    <h3>Taxi information</h3>
    <p>Without a car in Plattsburgh, you will need to use taxis or Uber.</p>
    <p>Some taxi companies in Plattsburgh are:</p>
    <ul>
        <li>City Taxi, 518-561-7777</li>
        <li>Clinton County Cab, 518-572-7251</li>
        <li>E Z Ride Taxi, 518-562-1717</li>
    </ul>

    <h2>Our venue</h2>
    <p>Our ceremony and reception will take place at the Elks Lodge #621. The Elks Lodge is located on the lakefront in historic downtown Plattsburgh. It is very close to the Kent-Delord House, a local historic site and museum.</p>
    <div class="map-container">
        <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFjXkt1RW1mqsG2K4GzJe8pq72dpbJkzE
    &q=Elks+Lodge,Plattsburgh+NY&zoom=13" allowfullscreen>
        </iframe>
    </div>
    <p>The ceremony will be outdoors on the lakefront, and the reception will be indoors in the ballroom.</p>
</div>
