<div class="main-content-container home-content-container">
    <h1 class="mainTitle">Sarah Mihuc & Nathan Parrott</h1>
    <h3>We are getting married</h3>
    <h1 class="mainTitle">September 1, 2018</h1>
    <h2>Elks Lodge, Plattsburgh NY</h2>
    <p>5 pm, dinner & drinks to follow</p>
    <h2 class="weddingPartyh2">Wedding party</h2>
    <div class="row">
    <div class="column">
        <h3>Maid of Honor</h3>
        <p>Rachel Berlowitz</p>
        <p>&mdash;</p>
        <p>Devon LaPlume</p><p>Josh Mihuc</p>
    </div>
    <div class="column">
        <h3>Best Man</h3>
        <p>Keith Staley</p>
        <p>&mdash;</p>
        <p>Vashan Holt</p><p>Peter Vesely</p>
    </div>
    </div>
</div>