<div class="main-content-container">
    <h1>Accommodations</h1>
    <p>We have reserved a block of hotel rooms at the Best Western in Plattsburgh. This hotel is centrally located and within walking distance of restaurants and the mall.</p>
    <p>The rates for our room block are $119/night for a 2 bed room, and $115/night for a 1 bed room.</p>
    <p>Rooms are available at this rate until August 1st.</p>
    <p>Please call the front desk at NUMBER and reserve under "Mihuc-Parrott Wedding".</p>
</div>