<div class="main-content-container">
    <h1>Registry</h1>
    <h2>Canadian Registries</h2>
    <p><a href="https://www.bedbathandbeyond.ca/store/giftregistry/view_registry_guest.jsp?registryId=545981572&eventType=Wedding&pwsurl=" target="_blank">Bed Bath & Beyond</a>: This registry will accept both Canadian and US credit cards and Paypal.</p>
    <p><a href="https://www.crateandbarrel.ca/Gift-Registry/Guest/View-Registry/5842872" target="_blank">Crate & Barrel</a>: This registry requires you to call in or visit a Canadian Crate & Barrel store in order to purchase items.</p>
    <p>If you prefer to give a gift of cash in Canadian dollars, you can send either Sarah or Nathan an Interac e-Transfer.</p>
    <h2>American Registries</h2>
    <p>We cannot transport physical gifts from the US or use registries from US stores, so we have set up registry funds on the Knot. You may give us money with which to purchase household items in Canada using our Housewarming registry fund.</p>
    <p><a href="https://registry.theknot.com/sarah-mihuc-nathan-parrott-september-2018-ny/22402746" target="_blank">The Knot</a></p>
</div>